* {
    margin: 0px auto auto auto;
    font-family: Tahoma;
}

#container {
    width: 90%;
}

#header {
    height: 200px;
    background-color: #39989c;
    color: #fff;
    text-align: center;
    padding-top:10px;
}

#logo{
    width:400px;
}

#menu {
    float: left;
    width: 30%;
    background-color: #d5d5d5 ;
    padding-left:10px;
}

#main {
    float: right;
    width: 65%;
}

#footer {
    clear: both;
    height: fit-content;
    color: #fff;
    background-color: #39989c;
    text-align:center;
    padding: 10px 0;
    
}

